* {
  font-family: 'Rubik', sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.menyNav {
  background: rgb(160, 186, 212);
  padding: 12px 25px;
  border-radius: 20px;
  opacity: 0.75;
}
li :hover {
  /* box-shadow: 0px 0px 50px 5px rgb(168, 164, 164);
  background-color; */
}

@keyframes animateDown {
  0% 20% 50% 80% 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}
